<ion-view title="{{$ctrl.title}}">
    <article class="main-view dashboard">
        <app-header page-title="{{$ctrl.title}}" left-icon=""/>
        <div class="scroller">
            <section class="">
                <header>
                    <h4>Identification</h4>
                </header>
                <form class="form" action="#" method="post">
                    <div class="outstanding-wrapper div-rounded card text-left">
                        <div class="row">
                            <div class="col">
                                <div class="">
                                    <div class="row row-center">

                                        <div class="col col-80">
                                            <div class="row">
                                                <div class="col wrapper-underlined">
                                                    <span class=""><strong>Vehicle Registration
                                                        Certificate</strong></span>
                                                </div>
                                            </div>
                                            <div class="row m-t-10">
                                                <div class="col-33 p-t-5">
                                                    <div class="theme-bg-color b-r-10 p-t-5 p-b-5 m-r-5">
                                                        <label for="yes" class="check-input-yes p-l-10"><span>Yes</span>
                                                            <img src="images/new-inspection/mark.png"
                                                                 class="img-responsive radio-img"/> </label>
                                                        <input type="radio" name="emotion" id="yes" value="yes"
                                                               class="radio-button-hidden-input"/>
                                                    </div>

                                                </div>
                                                <div class="col-33 p-t-5">
                                                    <div class="theme-bg-color b-r-10 p-t-5 p-b-5 m-r-5">
                                                        <label for="no" class="check-input-yes p-l-10"><span>No</span>
                                                            <img src="images/new-inspection/wrong.png"
                                                                 class="img-responsive radio-img"/> </label>
                                                        <input type="radio" name="emotion" id="no" value="no"
                                                               class="radio-button-hidden-input"/>
                                                    </div>
                                                </div>
                                                <div class="col-20 text-center">
                                                    <img src="images/new-inspection/save.png"
                                                         class="showSave full-image-width">
                                                </div>
                                                <div class="col-20 text-center">
                                                    <img src="images/new-inspection/que.png"
                                                         class="showSave full-image-width">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col col-20 text-center">
                                            <div class="image-frame div-rounded padding"
                                                 style="background-color: #FFF;">
                                                <img src="images/new-inspection/camera-icon.png" style="width:100%;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="outstanding-wrapper div-rounded card text-left">
                        <div class="row">
                            <div class="col">
                                <div class="">
                                    <div class="row row-center">

                                        <div class="col col-80">
                                            <div class="row">
                                                <div class="col wrapper-underlined">
                                                    <span class=""><strong>Chassis Number</strong></span>
                                                </div>
                                            </div>
                                            <div class="row m-t-10">
                                                <div class="col-66">
                                                    <select type="text"
                                                            class="form-control input-sm padding-right round theme-bg-color">
                                                        <option value="">Correct</option>
                                                    </select>

                                                </div>
                                                <div class="col-20 text-center">
                                                    <img src="images/new-inspection/save.png"
                                                         class="showSave full-image-width">
                                                </div>
                                                <div class="col-20 text-center">
                                                    <img src="images/new-inspection/que.png"
                                                         class="showSave full-image-width">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col col-20">
                                            <div class="image-frame div-rounded padding text-center"
                                                 style="background-color: #FFF;">
                                                <img src="images/new-inspection/camera-icon.png" style="width:100%;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="outstanding-wrapper div-rounded card text-left">
                        <div class="row">
                            <div class="col">
                                <div class="">
                                    <div class="row row-center">

                                        <div class="col col-80">
                                            <div class="row">
                                                <div class="col wrapper-underlined">
                                                    <span class=""><strong>Registration Plate</strong></span>
                                                </div>
                                            </div>
                                            <div class="row m-t-10">
                                                <div class="col-66">
                                                    <select type="text"
                                                            class="form-control input-sm padding-right round theme-bg-color">
                                                        <option value="">Good Condition</option>
                                                    </select>

                                                </div>
                                                <div class="col-20 text-center">
                                                    <img src="images/new-inspection/save.png"
                                                         class="showSave full-image-width">
                                                </div>
                                                <div class="col-20 text-center">
                                                    <img src="images/new-inspection/que.png"
                                                         class="showSave full-image-width">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col col-20">
                                            <div class="image-frame div-rounded padding text-center"
                                                 style="background-color: #FFF;">
                                                <img src="images/new-inspection/camera-icon.png" style="width:100%;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row row-center identification-next  ">
                        <div class="col">
                            <a ui-sref="enterpin" class="rounded" href="#/enterpin">Next</a>
                        </div>
                    </div>

                    <div class="outstanding-wrapper div-rounded card text-left">
                        <div class="row">
                            <div class="col">
                                <div class="row row-center vehicle-identification-bottom">
                                    <div class="col text-center">
                                        <span class="icon"><img src="images/dashboard/notification-icon.png"></span>
                                    </div>
                                    <div class="col text-center">
                                        <span class="icon"><img src="images/dashboard/ticket-issued-icon.png"></span>

                                    </div>
                                    <div class="col text-center">
                                        <span class="icon"> <img src="images/dashboard/emergency-icon.png"></span>

                                    </div>
                                    <div class="col text-center">
                                        <span class="icon"><img src="images/dashboard/inspections-icon.png"
                                                                title="inspections"></span>

                                    </div>
                                    <div class="col text-center">
                                        <img src="images/inspection/swipe-icon.png">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>


                </form>

            </section>
        </div>
    </article>
</ion-view>
