<ion-view title="{{$ctrl.title}}">
    <article class="main-view dashboard">
        <app-header page-title="{{$ctrl.title}}" left-icon=""/>
        <div class="scroller">
            <section class="">
                <header>
                    <h4>Emergency</h4>
                </header>
                <div class="row">
                    <div class="col">
                        <form class="form ng-pristine ng-valid" action="#" method="post">
                            <div class="inner-addon right-addon">
                                <i class="icon ion-search f-2x" style="padding: 5px; margin-top: 0px; color:#000"></i>
                                <input type="text" class="form-control contact-search" placeholder="SEARCH CONTACT">
                            </div>
                        </form>
                    </div>
                </div>

                <div>
                    <div class="outstanding-wrapper div-rounded card text-left" style="margin: 10px 0px;">
                        <div class="row row-center">
                            <div class="col col-10 p-b-15">
                                <div class="red-circle pull-right"></div>
                            </div>
                            <div class="col col-90">
                                <div class="row">
                                    <div class="col-90 wrapper-underlined">
                                        <span class=""><strong>Critical Rescue</strong></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-center">
                            <div class="col col-10 p-b-15">
                                <div class="red-circle pull-right"></div>
                            </div>
                            <div class="col col-90">
                                <div class="row">
                                    <div class="col-90 wrapper-underlined">
                                        <span class=""><strong>Federal Road Safety Corps</strong></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-center">
                            <div class="col col-10 p-b-15">
                                <div class="red-circle pull-right"></div>
                            </div>
                            <div class="col col-90">
                                <div class="row">
                                    <div class="col-90 wrapper-underlined">
                                        <span class=""><strong>Ikeja Fire Service</strong></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-center">
                            <div class="col col-10 p-b-15">
                                <div class="red-circle pull-right"></div>
                            </div>
                            <div class="col col-90">
                                <div class="row">
                                    <div class="col-90 wrapper-underlined">
                                        <span class=""><strong>Inspector General of Police</strong></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-center">
                            <div class="col col-10 p-b-15">
                                <div class="red-circle pull-right"></div>
                            </div>
                            <div class="col col-90">
                                <div class="row">
                                    <div class="col-90 wrapper-underlined">
                                        <span class=""><strong>Lagos Emergency Service</strong></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-center">
                            <div class="col col-10 p-b-15">
                                <div class="red-circle pull-right"></div>
                            </div>
                            <div class="col col-90">
                                <div class="row">
                                    <div class="col-90 wrapper-underlined">
                                        <span class=""><strong>Lagos State Hotline</strong></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-center">
                            <div class="col col-10 p-b-15">
                                <div class="red-circle pull-right"></div>
                            </div>
                            <div class="col col-90">
                                <div class="row">
                                    <div class="col-90 wrapper-underlined">
                                        <span class=""><strong>Lagos State Rescue</strong></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-center">
                            <div class="col col-10 p-b-15">
                                <div class="red-circle pull-right"></div>
                            </div>
                            <div class="col col-90">
                                <div class="row">
                                    <div class="col-90 wrapper-underlined">
                                        <span class=""><strong>LAMATA</strong></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </section>
        </div>
        <footer class="p-b-0 p-t-0 bg-white">
            <div class="outstanding-wrapper bg-white" style="margin: 10px 0px;">
            <div class="row row-center p-r-25 p-l-25">
            <div class="mynotification-nav">
                <div class="row p-0">

                    <div class="col p-5 " ui-sref="mycontacts">
                        PEOPLE
                    </div>
                    <div class="col p-5 theme-bg-color">
                        EMERGENCY
                    </div>
                </div>
            </div>
            </div>
            </div>

        </footer>
    </article>
</ion-view>
