<ion-view title="{{$ctrl.title}}">
    <article class="main-view dashboard">
        <app-header page-title="{{$ctrl.title}}" left-icon=""/>
        <div class="scroller">
            <section class="">
                <header>
                    <h4>Notifications</h4>
                </header>
                <div class="mynotification-nav">
                    <div class="row p-0">
                        <div class="col-20 theme-bg-color p-5">
                            ALL
                        </div>
                        <div class="col-40 p-5">
                            INSPECTORS
                        </div>
                        <div class="col-40 p-5">
                            SUPERVISORS
                        </div>
                    </div>
                </div>
                <div>
                    <div class="row m-t-5"> <div class="date-circle m-t-5 m-r-10"></div><div class="col-40">Sept 21</div></div>
                    <div class="outstanding-wrapper div-rounded card text-left" style="margin: 10px 0px;">
                        <div class="row row-center">
                            <div class="col col-20 text-center">
                                <picture>
                                    <img src="images/avatar.png" style="width: 100% !important;"/>
                                </picture>
                            </div>
                            <div class="col col-90">
                                <div class="row">
                                    <div class="col-80 wrapper-underlined">
                                        <span class=""><strong>Sam Adeniyi Sent you a message</strong></span>
                                        <span class="tiny-text">Sam Adeniyi Sent you a message messag</span>
                                    </div>
                                    <div class="col-10 p-t-10">
                                        <img src="images/menu/arrow.png">
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row row-center">
                            <div class="col col-20 text-center">
                                <picture>
                                    <img src="images/avatar.png" style="width: 100% !important;"/>
                                </picture>
                            </div>
                            <div class="col col-90">
                                <div class="row">
                                    <div class="col-80 wrapper-underlined">
                                        <span class=""><strong>Sam Adeniyi Sent you a message</strong></span>
                                        <span class="tiny-text">Sam Adeniyi Sent you a message messag</span>
                                    </div>
                                    <div class="col-10 p-t-10">
                                        <img src="images/menu/arrow.png">
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row row-center">
                            <div class="col col-20 text-center">
                                <picture>
                                    <img src="images/avatar.png" style="width: 100% !important;"/>
                                </picture>
                            </div>
                            <div class="col col-90">
                                <div class="row">
                                    <div class="col-80 wrapper-underlined">
                                        <span class=""><strong>Sam Adeniyi Sent you a message</strong></span>
                                        <span class="tiny-text">Sam Adeniyi Sent you a message messag</span>
                                    </div>
                                    <div class="col-10 p-t-10">
                                        <img src="images/menu/arrow.png">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div>
                    <div class="row m-t-5"> <div class="date-circle m-t-5 m-r-10"></div><div class="col-40">Sept 22</div></div>
                    <div class="outstanding-wrapper div-rounded card text-left" style="margin: 10px 0px;">
                        <div class="row row-center">
                            <div class="col col-20 text-center">
                                    <picture>
                                        <img src="images/avatar.png" style="width: 100% !important;"/>
                                    </picture>
                            </div>
                            <div class="col col-90">
                                <div class="row">
                                    <div class="col-80 wrapper-underlined">
                                        <span class=""><strong>Sam Adeniyi Sent you a message</strong></span>
                                        <span class="tiny-text">Sam Adeniyi Sent you a message messag</span>
                                    </div>
                                    <div class="col-10 p-t-10">
                                        <img src="images/menu/arrow.png">
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row row-center">
                            <div class="col col-20 text-center">
                                <picture>
                                    <img src="images/avatar.png" style="width: 100% !important;"/>
                                </picture>
                            </div>
                            <div class="col col-90">
                                <div class="row">
                                    <div class="col-80 wrapper-underlined">
                                        <span class=""><strong>Sam Adeniyi Sent you a message</strong></span>
                                        <span class="tiny-text">Sam Adeniyi Sent you a message messag</span>
                                    </div>
                                    <div class="col-10 p-t-10">
                                        <img src="images/menu/arrow.png">
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row row-center">
                            <div class="col col-20 text-center">
                                <picture>
                                    <img src="images/avatar.png" style="width: 100% !important;"/>
                                </picture>
                            </div>
                            <div class="col col-90">
                                <div class="row">
                                    <div class="col-80 wrapper-underlined">
                                        <span class=""><strong>Sam Adeniyi Sent you a message</strong></span>
                                        <span class="tiny-text">Sam Adeniyi Sent you a message messag</span>
                                    </div>
                                    <div class="col-10 p-t-10">
                                        <img src="images/menu/arrow.png">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


            </section>
        </div>
    </article>
</ion-view>
