<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button>
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-content has-bouncing="false" scroll="false">
            <aside role="complementary" class="menu">
        <nav role="navigation" class="scroller">
            <header>
                <img src="images/avatar.png" title="avatar" id="avatar"/>
                <h4>Isp James A.</h4>
                <a href="#" class="next-link" title="config"></a>
            </header>

            <ul>
                <li>
                    <a href="#" title="notifications" id="notifications">
                        <span class="list-icon"><img src="images/menu/notification-icon.png"
                                                     title="notification"/></span>
                        <span>Notifications</span>
                    </a>
                </li>
                <li>
                    <a href="#" title="dashboard" id="dashboard">
                        <span class="list-icon"><img src="images/menu/dashbaord-icon.png" title="dashboard"/></span>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="#" title="new_inspections">
                        <span class="list-icon"><img src="images/menu/new-inspection-icon.png" title="new inspections"/></span>
                        <span>New Inspections</span>
                    </a>
                </li>
            </ul>

            <ul>
                <li>
                    <a href="#" title="inspections" id="inspections">
                        <span class="list-icon"><img src="images/menu/inspections-icon.png" title="inspections"/></span>
                        <span>Inspections</span>
                    </a>
                </li>
                <li>
                    <a href="#" title="ticket issued" id="tickets">
                        <span class="list-icon"><img src="images/menu/tickets-icon.png" title="tickets"/></span>
                        <span>Ticket Issued</span>
                    </a>
                </li>
                <li>
                    <a href="#" title="reviews">
                        <span class="list-icon"><img src="images/menu/reviews-icon.png" title="reviews"/></span>
                        <span>Reviews</span>
                    </a>
                </li>
                <li>
                    <a href="#" title="contacts">
                        <span class="list-icon"><img src="images/menu/contacts-icon.png" title="contacts"/></span>
                        <span>Contacts</span>
                    </a>
                </li>
            </ul>

            <ul>
                <li>
                    <a href="#" title="logout">
                        <span class="list-icon"><img src="images/menu/log-out-icon.png" title="logout"/></span>
                        <span>Log Out</span>
                    </a>
                </li>
            </ul>
        </nav>
    </aside>

            </ion-content>
        </ion-side-menu>
    </ion-side-menus>
