<ion-view>
    <article class="main-view dashboard">
        <header>
            <a href="#" class="call-link" title="call"></a>
            <h4>Inspecting</h4>
            <a href="#" class="config-link" title="config"></a>
        </header>
        <div class="scroller">
            <section>
                <header>
                    <h4 class="header-link">
                        <span id="penalty-count">0</span>
                        <a href="#">Outstanding Penalty</a>
                    </h4>
                </header>
                <div class="user-contents">
                    <div class="table-row">
                        <div>
                            <a href="#" id="identification">
                            <span class="icon"><img src="images/inspection/idle/identification-icon.png"
                                                    title="identification"/></span>
                                <span>Identification</span>
                            </a>
                        </div>
                        <div>
                            <a href="#" id="lightings">
                                <span class="icon"><img src="images/inspection/idle/lightings-icon.png"
                                                        title="lightings"/></span>
                                <span>Lightings</span>
                            </a>
                        </div>
                    </div>
                    <div class="table-row">
                        <div>
                            <a href="#" id="steering">
                            <span class="icon"><img src="images/inspection/idle/steering-icon.png"
                                                    title="steering"/></span>
                                <span>Steering</span>
                            </a>
                        </div>
                        <div>
                            <a href="#" id="chassis">
                            <span class="icon"><img src="images/inspection/idle/chasis-icon.png"
                                                    title="chassis"/></span>
                                <span>Chassis</span>
                            </a>
                        </div>
                    </div>
                    <div class="table-row">
                        <div>
                            <a href="#" id="pollution">
                                <span class="icon"><img src="images/inspection/idle/pollution-icon.png"
                                                        title="pollution"/></span>
                                <span>Pollutant Emission</span>
                            </a>
                        </div>
                        <div>
                            <a href="#" id="visibility">
                            <span class="icon"><img src="images/inspection/idle/visibility-icon.png"
                                                    title="visibility"/></span>
                                <span>Visibility</span>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </article>
</ion-view>
